* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

section {
    padding: 80px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.carousel {
    position: relative;
}

.carousel__item {
    width: 100%;
    display: none;
    aspect-ratio: 21/9;
    object-fit: cover;
}

.carousel__item.active {
    display: block;
}

.arrow {
    width: 20px;
    aspect-ratio: 1;
    background-color: lightgrey;
    transform: translate(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
}

.arrow::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.arrow.arrow-top::after {
    transform: rotate(-45deg);
}

.arrow.arrow-top {
    top: 20px;
}

.arrow.arrow-down::after {
    transform: rotate(135deg);
}

.arrow.arrow-down {
    bottom: 20px;
}


